.Card {
  display: inline-block;
}

.Subheader {
  font-size: 90%;
}

.Title {
  font-size: 120% !important;
  font-weight: bold !important;
  padding-bottom: 0.75em;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;

}

.Description {
  overflow: hidden;
  display: inline-block;
}

.Media {
  height: 0;
  padding-top: 56.25%;
}

.Actions {
  display: block !important;
  text-align: right;
}
